@{
    ViewBag.Title = "About the Team who are working on developing this application";
}
@section scripts{
    <link href="~/Content/About.css" rel="stylesheet" />
}
<div class="names">
    
    <h3>@ViewBag.Message</h3>
    <p>This Application is being built as an e-commerce website.</p>
    <p> This is being developed by </p>
    <ul>
        <li><strong> Devarasetty, Venkata A.</strong></li>
        <li><strong> Karjala, Jarin L </strong></li>
        <li><strong> Kommuri, Sai Teja Reddy</strong></li>
        <li><strong> Flemming, Korey G.</strong></li>
        </ul>
</div>