@{
    ViewBag.Title = "Contact Information of Our Industry";
}
<hgroup>
    
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <header> Connect with us via the information below, emails or phone</header>
    <address>
        CH 494 <br />
        St Cloud State University<br />
        St Cloud, MN 56301<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:vadevarasetty@stcloudstate.edu">Support-Group2@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:wkfs-scsu-g2.visualstudio.com">Marketing-Group2@example.com</a>
    </address>

</div>